.App {
  font-family: sans-serif;
  text-align: left;
  display: flex;
  flex-direction: column;
}

.sticky_plaintext {
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 0;
  background-color: white;
  padding-bottom: 1em;
}

.sticky_header {
  position: sticky;
  top: 269px;
  background-color: white;
}

.App textarea {
  margin-bottom: 0.5em;
}

.App label {
  margin-bottom: 0.2em;
}

.render_area {
  border: 2px dashed gray;
  padding: 1em;
}
